<!-- views/home/consul.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <script>

    // ajax 호출을 통해 home.js에서 Bash 명령어로 hashicorp API를 호출한다.
    function ajaxCallBtn(api_flag){
    //function aajaxCallBtn(url, data){ 추후 인자값 넘기는 함수로 변경
      // url 및 전송 parameter
      var url = "/ajax_call_api";
      var data = {'api_flag' : api_flag}; // {'email' : data}
      data = JSON.stringify(data);

      // request 셋팅
      var xhr = new XMLHttpRequest();
      xhr.open('POST',url);
      xhr.setRequestHeader('Content-Type', "application/json");
      xhr.send(data);

      // ajax 호출 리턴 후
      xhr.addEventListener('load', function(){

        var result = JSON.parse(xhr.responseText);
        var strResult = "";
        console.log("result:"+JSON.stringify(result));

        if(result != null){

          if(api_flag=='cslSrvcSttsInfo'){
            // 서비스상태조회_1
            strResult += "Name : "+JSON.stringify(result.rData[0].Name)+"<br>";
            strResult += "Status : "+JSON.stringify(result.rData[0].Status)+"<br>";
            strResult += "Notes : "+JSON.stringify(result.rData[0].Notes)+"<br>";
            strResult += "Output : "+JSON.stringify(result.rData[0].Output)+"<br>";

          } else if(api_flag=='cslSrvcSttsInfo_2nd'){
            // 서비스상태조회_2
            for(var i=0;i<result.rData.length;i++){
              strResult += "Node : "+JSON.stringify(result.rData[i].Node)+"<br>";
              strResult += "Status : "+JSON.stringify(result.rData[i].Status)+"<br>";
              strResult += "Notes : "+JSON.stringify(result.rData[i].Notes)+"<br>";
              strResult += "Output : "+JSON.stringify(result.rData[i].Output)+"<br><br>";
            }

          } else if (api_flag=='cslSrvcNmInfo'){
            // 서비스이름조회
            strResult += "consul ID : "+JSON.stringify(result.rData.Services.consul.ID)+"<br>";
            strResult += "consul Service : "+JSON.stringify(result.rData.Services.consul.Service)+"<br>";
          } else {

            document.querySelector("#showResult").innerHTML = "";
            document.querySelector("#showResult").innerHTML = JSON.stringify(result.rData);
          }

          document.querySelector("#showResult").innerHTML = strResult;

        } else {
          alert("API CALL FAIL..");
        }
      });
    }
  </script>
  <body>
    <!--<div class="container mb-3">
      <h2 class="mb-3">Consul</h2>
      <P>Consul의 API</p>
      <input type="button" id="cslSrvcSttsInfo" onclick="ajaxCallBtn('cslSrvcSttsInfo')" width="100px" value="서비스상태조회_1" />
      <input type="button" id="cslSrvcSttsInfo" onclick="ajaxCallBtn('cslSrvcSttsInfo_2nd')" width="100px" value="서비스상태조회_2" />
      <input type="button" id="cslSrvcNmInfo" onclick="ajaxCallBtn('cslSrvcNmInfo')" width="100px" value="서비스이름조회" />
      <br>
      <div id="showResult"></div>
    </div>-->
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.ejs -->
      <%- include('../partials/_sidebar') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.ejs -->
        <%- include('../partials/_navbar') %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Consul API </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">CONSUL</a></li>
                  <li class="breadcrumb-item active" aria-current="page">API</li>
                </ol>
              </nav>
            </div>
            <button type="button" id="cslSrvcSttsInfo" onclick="ajaxCallBtn('cslSrvcSttsInfo')" class="btn btn-secondary btn-fw">서비스상태조회_1</button> 
            <button type="button" id="cslSrvcSttsInfo" onclick="ajaxCallBtn('cslSrvcSttsInfo_2nd')" class="btn btn-inverse-secondary btn-fw">서비스상태조회_2</button>
            <button type="button" id="cslSrvcNmInfo" onclick="ajaxCallBtn('cslSrvcNmInfo')" class="btn btn-outline-secondary btn-fw">서비스이름조회</button><br><br>
            <div id="showResult"></div>
            <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Horizontal Two column</h4>
                    <form class="form-sample">
                      <p class="card-description"> Personal info </p>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">First Name</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Last Name</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Gender</label>
                            <div class="col-sm-9">
                              <select class="form-control">
                                <option>Male</option>
                                <option>Female</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Date of Birth</label>
                            <div class="col-sm-9">
                              <input class="form-control" placeholder="dd/mm/yyyy">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Category</label>
                            <div class="col-sm-9">
                              <select class="form-control">
                                <option>Category1</option>
                                <option>Category2</option>
                                <option>Category3</option>
                                <option>Category4</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Membership</label>
                            <div class="col-sm-4">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked=""> Free <i class="input-helper"></i></label>
                              </div>
                            </div>
                            <div class="col-sm-5">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="option2"> Professional <i class="input-helper"></i></label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p class="card-description"> Address </p>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Address 1</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">State</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Address 2</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Postcode</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">City</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Country</label>
                            <div class="col-sm-9">
                              <select class="form-control">
                                <option>America</option>
                                <option>Italy</option>
                                <option>Russia</option>
                                <option>Britain</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.ejs -->
          <%- include('../partials/_footer') %>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <%- include('../partials/commonJs') %>
  </body>
</html>
