<!-- views/home/consul.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.ejs -->
      <%- include('../partials/_sidebar') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.ejs -->
        <%- include('../partials/_navbar') %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Consul API </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">CONSUL</a></li>
                  <li class="breadcrumb-item active" aria-current="page">API</li>
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body" onclick="ajaxCallBtn('cslSrvcSttsInfo')" style="cursor:pointer">
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h3 class="mb-0">서비스상태조회</h3>
                        </div>
                        <h6 class="text-muted font-weight-normal">Name,Status,Notes,Output</h6>
                      </div>
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-access-point text-primary ml-auto"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body" onclick="ajaxCallBtn('cslSrvcSttsInfo_2nd')" style="cursor:pointer">
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h3 class="mb-0">서비스상태조회</h3>
                        </div>
                        <h6 class="text-muted font-weight-normal">NodeName,Status,Notes,Output</h6>
                      </div>
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-access-point-network text-danger ml-auto"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body" onclick="ajaxCallBtn('cslSrvcNmInfo')" style="cursor:pointer">
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h3 class="mb-0">서비스이름조회</h3>
                        </div>
                        <h6 class="text-muted font-weight-normal">Consul ID, Service Name</h6>
                      </div>
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-monitor text-success ml-auto"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row" id="divSrvcSttsinfo" style="display:none;">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <!--<h4 class="card-title">서비스상태조회_1</h4>-->
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Name</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="srvcName">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Status</label>
                      <div class="col-sm-2">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="rd_serviceStatus" id="rd_serviceStatus1" value="" disabled> Passing <i class="input-helper"></i></label>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="rd_serviceStatus" id="rd_serviceStatus2" value="" disabled> Warning <i class="input-helper"></i></label>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="rd_serviceStatus" id="rd_serviceStatus3" value="" disabled> Critical <i class="input-helper"></i></label>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="rd_serviceStatus" id="rd_serviceStatus4" value="" disabled> No Checks <i class="input-helper"></i></label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Notes</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="srvcNotes">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Output</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="srvcOutput">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" id="divSrvcNameinfo" style="display:none;">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <!--<h4 class="card-title">서비스이름조회</h4>-->
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Consul ID</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="cnslId">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Consul Service Name</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="cnslSrvc">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" id="divSrvcSttsinfo_2" style="display:none;">
              <div class="col-md-12 col-xl-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="preview-list" id="srvcSttsList">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.ejs -->
          <%- include('../partials/_footer') %>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <%- include('../partials/commonJs') %>
  </body>
  <script>

    // ajax 호출을 통해 home.js에서 Bash 명령어로 hashicorp API를 호출한다.
    function ajaxCallBtn(api_flag){
    //function aajaxCallBtn(url, data){ 추후 인자값 넘기는 함수로 변경
      // url 및 전송 parameter
      var url = "/ajax_call_api";
      var data = {'api_flag':api_flag}; // {'email' : data}
      data = JSON.stringify(data);

      // request 셋팅
      var xhr = new XMLHttpRequest();
      xhr.open('POST',url);
      xhr.setRequestHeader('Content-Type', "application/json");
      xhr.send(data);

      // ajax 호출 리턴 후
      xhr.addEventListener('load', function(){

        var result = JSON.parse(xhr.responseText);
        var strResult = "";
        var errorCode = null;
        if(result.errors!=null){
          errorCode = result.errors.code;
        }
        console.log("result:"+JSON.stringify(result));

        if(errorCode!=null){
          if(errorCode==28){
            alert("Server's Connection Timeout.");
          } else {
            alert("ERROR OCCURED");
          }
        } else {

          if(api_flag=='cslSrvcSttsInfo'){
            // 서비스상태조회_1
            $("#srvcName").val(result.rData[0].Name);
            if(result.rData[0].Status=="passing"){
              $("#rd_serviceStatus1").attr('checked',true);
              $("#rd_serviceStatus1").attr('disabled',false);
            } else if (result.rData[0].Status=="warning"){
              $("#rd_serviceStatus2").attr('checked',true);
            } else if (result.rData[0].Status=="critical"){
              $("#rd_serviceStatus3").attr('checked',true);
            } else if (result.rData[0].Status=="no check"){
              $("#rd_serviceStatus4").attr('checked',true);
            }

            $("#srvcNotes").val(result.rData[0].Notes);
            $("#srvcOutput").val(result.rData[0].Output);

            if($("#divSrvcSttsinfo").is(':visible')==true){
              $("#divSrvcSttsinfo").hide();
            } else {
              $("#divSrvcSttsinfo").show();
              $("#divSrvcSttsinfo_2").hide();
              $("#divSrvcNameinfo").hide();

              var offset = $("#divSrvcSttsinfo").offset(); //해당 위치 반환
              $('html, body').animate({scrollTop: offset.top-100},400); // 선택한 위치로 이동. 두번째 인자는 0.4초를 의미한다.
            }

          } else if(api_flag=='cslSrvcSttsInfo_2nd'){
            // 서비스상태조회_2
            var html = "";
            
            for(var i=0;i<result.rData.length;i++){
              html += '<div class="preview-item border-bottom">';
              html += '  <div class="preview-item-content d-flex flex-grow">';
              html += '    <div class="flex-grow">';
              html += '      <div class="d-flex d-md-block d-xl-flex justify-content-between">';
              html += '        <h6 class="preview-subject">'+result.rData[i].Node+'</h6>';
              html += '        <p class="text-muted text-small">'+result.rData[i].Status+'</p>';
              html += '       </div>';
              html += '      <p class="text-muted">Notes : '+result.rData[i].Notes+'</p>';
              html += '      <p class="text-muted">Output : '+result.rData[i].Output+'</p>';
              html += '    </div>';
              html += '  </div>';
              html += '</div>';
            }

            $("#srvcSttsList").html(html);

            if($("#divSrvcSttsinfo_2").is(':visible')==true){
              $("#divSrvcSttsinfo_2").hide();
            } else {
              $("#divSrvcSttsinfo_2").show();
              $("#divSrvcSttsinfo").hide();
              $("#divSrvcNameinfo").hide();

              var offset = $("#divSrvcSttsinfo_2").offset(); //해당 위치 반환
              $('html, body').animate({scrollTop: offset.top-100},400); // 선택한 위치로 이동. 두번째 인자는 0.4초를 의미한다.
            }

          } else if (api_flag=='cslSrvcNmInfo'){
            // 서비스이름조회
            $("#cnslId").val(result.rData.Services.consul.ID);
            $("#cnslSrvc").val(result.rData.Services.consul.Service);

            if($("#divSrvcNameinfo").is(':visible')==true){
              $("#divSrvcNameinfo").hide();
            } else {
              $("#divSrvcNameinfo").show();
              $("#divSrvcSttsinfo_2").hide();
              $("#divSrvcSttsinfo").hide();

              var offset = $("#divSrvcNameinfo").offset(); //해당 위치 반환
              $('html, body').animate({scrollTop: offset.top-100},400); // 선택한 위치로 이동. 두번째 인자는 0.4초를 의미한다.
            }
            
          }
        }
      });
    }
  </script>
</html>
