<!-- views/home/nomad.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.ejs -->
      <%- include('../partials/_sidebar') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.ejs -->
        <%- include('../partials/_navbar') %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Nomad API </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">NOMAD</a></li>
                  <li class="breadcrumb-item active" aria-current="page">API</li>
                </ol>
              </nav>
            </div>
            <button type="button" id="nmdAgtSvrPtchInfo" onclick="ajaxCallBtn('nmdAgtSvrPtchInfo')" class="btn btn-warning btn-fw">서버패치정보</button> 
            <button type="button" id="nmdJobNmInfo" onclick="ajaxCallBtn('nmdJobNmInfo')" class="btn btn-info btn-fw">잡네임</button><br><br>

            <div class="col-lg-12 grid-margin stretch-card" id="divSrvrPtchInfo" style="display:none;">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Server Patch Info</h4>
                  <div class="table-responsive">
                    <table class="table table-bordered" id="tbSrvrPtchInfo">
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12 grid-margin stretch-card" id="divJbNmListInfo" style="display:none;">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Job Name List</h4>
                  <div class="table-responsive">
                    <table class="table" id="tbJbNmListInfo">
                      <thead>
                        <tr>
                          <th>Region</th>
                          <th>Namespace</th>
                          <th>ID</th>
                          <th>ParentID</th>
                          <th>Name</th>
                          <th>Type</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.ejs -->
          <%- include('../partials/_footer') %>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <%- include('../partials/commonJs') %>
  </body>
  <script>

    // ajax 호출을 통해 home.js에서 Bash 명령어로 hashicorp API를 호출한다.
    function ajaxCallBtn(api_flag){
    //function aajaxCallBtn(url, data){ 추후 인자값 넘기는 함수로 변경
      // url 및 전송 parameter
      var url = "/ajax_call_api";
      var data = {'api_flag':api_flag}; // {'email' : data}
      data = JSON.stringify(data);

      // request 셋팅
      var xhr = new XMLHttpRequest();
      xhr.open('POST',url);
      xhr.setRequestHeader('Content-Type', "application/json");
      xhr.send(data);

      // ajax 호출 리턴 후
      xhr.addEventListener('load', function(){

        var result = JSON.parse(xhr.responseText);
        var strResult = "";
        var errorCode = null;
        if(result.errors!=null){
          errorCode = result.errors.code;
        }
        console.log("result:"+JSON.stringify(result));

        if(errorCode!=null){
          if(errorCode==28){
            alert("Server's Connection Timeout.");
          } else {
            alert("ERROR OCCURED");
          }
        } else {

          if(api_flag=='nmdAgtSvrPtchInfo'){
            // 서버패치조회
            var html = "";

            html += '<tr>';
            html += '  <td><font color="white">kernel.name</color></td>';
            html += '  <td>'+result.rData.Attributes["kernel.name"]+'</td>';
            html += '  <td><font color="white">os.name</color></td>';
            html += '  <td>'+result.rData.Attributes["os.name"]+'</td>';
            html += '  <td><font color="white">os.version</color></td>';
            html += '  <td>'+result.rData.Attributes["os.version"]+'</td>';
            html += '</tr>';

            $("#tbSrvrPtchInfo tbody").html(html);

            if($("#divSrvrPtchInfo").is(':visible')==true){
              $("#divSrvrPtchInfo").hide();
            } else {
              $("#divSrvrPtchInfo").show();
              $("#divJbNmListInfo").hide();

              var offset = $("#divSrvrPtchInfo").offset(); //해당 위치 반환
              $('html, body').animate({scrollTop: offset.top-100},400); // 선택한 위치로 이동. 두번째 인자는 0.4초를 의미한다.
            }

          } else if(api_flag=='nmdJobNmInfo'){
            // 잡네임
            var html = "";

            html += '<tr>';
            html += '  <td>'+result.rData.Region+'</td>';
            html += '  <td>'+result.rData.Namespace+'</td>';
            html += '  <td><label class="badge badge-info">'+result.rData.ID+'</label></td>';
            html += '  <td>'+result.rData.ParentID+'</td>';
            html += '  <td>'+result.rData.Name+'</td>';
            html += '  <td>'+result.rData.Type+'</td>';
            html += '</tr>';

            $("#tbJbNmListInfo tbody").html(html);

            if($("#divJbNmListInfo").is(':visible')==true){
              $("#divJbNmListInfo").hide();
            } else {
              $("#divJbNmListInfo").show();
              $("#divSrvrPtchInfo").hide();
              
              var offset = $("#divJbNmListInfo").offset(); //해당 위치 반환
              $('html, body').animate({scrollTop: offset.top-100},400); // 선택한 위치로 이동. 두번째 인자는 0.4초를 의미한다.
            }

          } 
        }
      });
    }
  </script>
</html>
