<!-- views/home/nomad.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <script>

    // ajax 호출을 통해 home.js에서 Bash 명령어로 hashicorp API를 호출한다.
    function ajaxCallBtn(api_flag){
    //function aajaxCallBtn(url, data){ 추후 인자값 넘기는 함수로 변경
      // url 및 전송 parameter
      var url = "/ajax_call_api";
      var data = {'api_flag' : api_flag}; // {'email' : data}
      data = JSON.stringify(data);

      // request 셋팅
      var xhr = new XMLHttpRequest();
      xhr.open('POST',url);
      xhr.setRequestHeader('Content-Type', "application/json");
      xhr.send(data);

      // ajax 호출 리턴 후
      xhr.addEventListener('load', function(){

        var result = JSON.parse(xhr.responseText);
        var strResult = "";
        console.log("result:"+JSON.stringify(result));

        if(result != null){ // 이거 수정해야함 result.rData 체크하는 걸로 -> home.js에서는 리턴값이 있을 때만 넘기는걸로

          if(api_flag=='nmdAgtSvrPtchInfo'){
            // 서버패치조회
            strResult += "kernel.name : "+JSON.stringify(result.rData.Attributes["kernel.name"])+"<br>";
            strResult += "os.name : "+JSON.stringify(result.rData.Attributes["os.name"])+"<br>";
            strResult += "os.version : "+JSON.stringify(result.rData.Attributes["os.version"])+"<br>";

          } else if(api_flag=='nmdJobNmInfo'){
            // 잡네임
            strResult += "Region : "+JSON.stringify(result.rData.Region)+"<br>";
            strResult += "Namespace : "+JSON.stringify(result.rData.Namespace)+"<br>";
            strResult += "ID : "+JSON.stringify(result.rData.ID)+"<br>";
            strResult += "ParentID : "+JSON.stringify(result.rData.ParentID)+"<br>";
            strResult += "Name : "+JSON.stringify(result.rData.Name)+"<br>";
            strResult += "Type : "+JSON.stringify(result.rData.Type)+"<br>";

          } else {

            document.querySelector("#showResult").innerHTML = "";
            document.querySelector("#showResult").innerHTML = JSON.stringify(result.rData);
          }

          document.querySelector("#showResult").innerHTML = strResult;

        } else {
          alert("API CALL FAIL..");
        }
      });
    }
  </script>
  <body>
    <!--<div class="container mb-3">
      <h2 class="mb-3">Nomad</h2>
      <P>Nomad의 API</p>
      <input type="button" id="nmdAgtSvrPtchInfo" onclick="ajaxCallBtn('nmdAgtSvrPtchInfo')" width="100px" value="서버패치정보" />
      <input type="button" id="nmdJobNmInfo" onclick="ajaxCallBtn('nmdJobNmInfo')" width="100px" value="잡네임" />
      <div id="showResult"></div>
    </div>-->
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.ejs -->
      <%- include('../partials/_sidebar') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.ejs -->
        <%- include('../partials/_navbar') %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Nomad API </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">NOMAD</a></li>
                  <li class="breadcrumb-item active" aria-current="page">API</li>
                </ol>
              </nav>
            </div>
            <button type="button" id="nmdAgtSvrPtchInfo" onclick="ajaxCallBtn('nmdAgtSvrPtchInfo')" class="btn btn-warning btn-fw">서버패치정보</button> 
            <button type="button" id="nmdJobNmInfo" onclick="ajaxCallBtn('nmdJobNmInfo')" class="btn btn-info btn-fw">잡네임</button><br><br>
            <div id="showResult"></div>
            <div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                      <h4 class="card-title mb-1">Open Projects</h4>
                      <p class="text-muted mb-1">Your data status</p>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="preview-list">
                          <div class="preview-item border-bottom">
                            <div class="preview-thumbnail">
                              <div class="preview-icon bg-primary">
                                <i class="mdi mdi-file-document"></i>
                              </div>
                            </div>
                            <div class="preview-item-content d-sm-flex flex-grow">
                              <div class="flex-grow">
                                <h6 class="preview-subject">Admin dashboard design</h6>
                                <p class="text-muted mb-0">Broadcast web app mockup</p>
                              </div>
                              <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                                <p class="text-muted">15 minutes ago</p>
                                <p class="text-muted mb-0">30 tasks, 5 issues </p>
                              </div>
                            </div>
                          </div>
                          <div class="preview-item border-bottom">
                            <div class="preview-thumbnail">
                              <div class="preview-icon bg-success">
                                <i class="mdi mdi-cloud-download"></i>
                              </div>
                            </div>
                            <div class="preview-item-content d-sm-flex flex-grow">
                              <div class="flex-grow">
                                <h6 class="preview-subject">Wordpress Development</h6>
                                <p class="text-muted mb-0">Upload new design</p>
                              </div>
                              <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                                <p class="text-muted">1 hour ago</p>
                                <p class="text-muted mb-0">23 tasks, 5 issues </p>
                              </div>
                            </div>
                          </div>
                          <div class="preview-item border-bottom">
                            <div class="preview-thumbnail">
                              <div class="preview-icon bg-info">
                                <i class="mdi mdi-clock"></i>
                              </div>
                            </div>
                            <div class="preview-item-content d-sm-flex flex-grow">
                              <div class="flex-grow">
                                <h6 class="preview-subject">Project meeting</h6>
                                <p class="text-muted mb-0">New project discussion</p>
                              </div>
                              <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                                <p class="text-muted">35 minutes ago</p>
                                <p class="text-muted mb-0">15 tasks, 2 issues</p>
                              </div>
                            </div>
                          </div>
                          <div class="preview-item border-bottom">
                            <div class="preview-thumbnail">
                              <div class="preview-icon bg-danger">
                                <i class="mdi mdi-email-open"></i>
                              </div>
                            </div>
                            <div class="preview-item-content d-sm-flex flex-grow">
                              <div class="flex-grow">
                                <h6 class="preview-subject">Broadcast Mail</h6>
                                <p class="text-muted mb-0">Sent release details to team</p>
                              </div>
                              <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                                <p class="text-muted">55 minutes ago</p>
                                <p class="text-muted mb-0">35 tasks, 7 issues </p>
                              </div>
                            </div>
                          </div>
                          <div class="preview-item">
                            <div class="preview-thumbnail">
                              <div class="preview-icon bg-warning">
                                <i class="mdi mdi-chart-pie"></i>
                              </div>
                            </div>
                            <div class="preview-item-content d-sm-flex flex-grow">
                              <div class="flex-grow">
                                <h6 class="preview-subject">UI Design</h6>
                                <p class="text-muted mb-0">New application planning</p>
                              </div>
                              <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                                <p class="text-muted">50 minutes ago</p>
                                <p class="text-muted mb-0">27 tasks, 4 issues </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.ejs -->
          <%- include('../partials/_footer') %>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <%- include('../partials/commonJs') %>
  </body>
</html>
