<!-- views/home/terraform.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.ejs -->
      <%- include('../partials/_sidebar') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.ejs -->
        <%- include('../partials/_navbar') %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Terraform API </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">TERRAFORM</a></li>
                  <li class="breadcrumb-item active" aria-current="page">API</li>
                </ol>
              </nav>
            </div>
            <!--<button type="button" id="trrfrmRun" onclick="ajaxCallBtn('trrfrmRun')" class="btn btn-success btn-fw">Run</button> 
            <button type="button" id="trrfrmWorkspace" onclick="ajaxCallBtn('trrfrmWorkspace')" class="btn btn-inverse-primary btn-fw">Workspace</button><br><br>
            <div id="showResult"></div>-->
            <div class="row">
              <div class="col-md-4 grid-margin stretch-card" onclick="ajaxCallBtn('trrfrmRun')">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Run</h4>
                    <div class="media">
                      <i class="mdi mdi-file-restore icon-md text-success d-flex align-self-start mr-3"></i>
                      <div class="media-body">
                        <p class="card-text">The usual way to run Terraform is to first switch to the directory containing the <i>.tf</i>&nbsp; files for your root module</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 grid-margin stretch-card" onclick="ajaxCallBtn('trrfrmWorkspace')">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Workspace</h4>
                    <div class="media">
                      <i class="mdi mdi-file-multiple icon-md text-primary d-flex align-self-center mr-3"></i>
                      <div class="media-body">
                        <p class="card-text">The persistent data stored in the backend belongs to a workspace</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" id="divTrrfrmWkspcInfo" style="display: none;">
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Workspace</h4>
                    <!--<p class="card-description"> Basic form elements </p>-->
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="wksp_type">Type</label>
                        <input type="text" class="form-control" id="wksp_type" placeholder="Name">
                      </div>
                      <div class="form-group">
                        <label for="wksp_name">Name</label>
                        <input type="text" class="form-control" id="wksp_name" placeholder="Name2">
                      </div>
                      <div class="form-group">
                        <label for="wksp_Organization_id">Organization.id</label>
                        <input type="text" class="form-control" id="wksp_Organization_id" placeholder="Name3">
                      </div>
                      <div class="form-group">
                        <label for="wksp_Organization_type">Organization.type</label>
                        <input type="text" class="form-control" id="wksp_Organization_type" placeholder="Name4">
                      </div>
                      <div class="form-group">
                        <label for="wksp_current_run_id">Current-run.id</label>
                        <input type="text" class="form-control" id="wksp_current_run_id" placeholder="Name5">
                      </div>
                      <div class="form-group">
                        <label for="wksp_current_run_type">Current-run.type</label>
                        <input type="text" class="form-control" id="wksp_current_run_type" placeholder="Name6">
                      </div>
                      <div class="form-group">
                        <label for="wksp_current_run_related">Current-run.related</label>
                        <input type="text" class="form-control" id="wksp_current_run_related" placeholder="Name7">
                      </div>
                      <div class="form-group">
                        <label for="wksp_latest_run_id">Latest-run.id</label>
                        <input type="text" class="form-control" id="wksp_latest_run_id" placeholder="Name8">
                      </div>
                      <div class="form-group">
                        <label for="wksp_latest_run_type">Latest-run.type</label>
                        <input type="text" class="form-control" id="wksp_latest_run_type" placeholder="Name9">
                      </div>
                      <div class="form-group">
                        <label for="wksp_latest_run_related">Latest-run.related</label>
                        <input type="text" class="form-control" id="wksp_latest_run_related" placeholder="Name10">
                      </div>
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-dark">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.ejs -->
          <%- include('../partials/_footer') %>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <%- include('../partials/commonJs') %>
  </body>
  <script>

    // ajax 호출을 통해 home.js에서 Bash 명령어로 hashicorp API를 호출한다.
    function ajaxCallBtn(api_flag){
    //function aajaxCallBtn(url, data){ 추후 인자값 넘기는 함수로 변경
      // url 및 전송 parameter
      var url = "/ajax_call_api";
      var data = {'api_flag':api_flag}; // {'email' : data}
      data = JSON.stringify(data);

      if(api_flag=='trrfrmRun'){
        alert("준비중입니다.");
        return;
      }
      // request 셋팅
      var xhr = new XMLHttpRequest();
      xhr.open('POST',url);
      xhr.setRequestHeader('Content-Type', "application/json");
      xhr.timeout = 5000; // 5s
      xhr.ontimeout = function () { alert("Timed Out."); }
      xhr.send(data);

      // ajax 호출 리턴 후
      xhr.addEventListener('load', function(){

        var result = JSON.parse(xhr.responseText);
        var strResult = "";
        var errorCode = null;
        if(result.errors!=null){
          errorCode = result.errors.code;
        }
        console.log("result:"+JSON.stringify(result));

        if(errorCode!=null){
          if(errorCode==28){
            alert("Server's Connection Timeout.");
          } else {
            alert("ERROR OCCURED");
          }
        } else if (result.rData.errors!=null) { 
          alert(result.rData.errors);
        } else {

          if(api_flag=='trrfrmRun'){
            // 테라폼
            //strResult += "driver.docker.os_type : "+JSON.stringify(result.rData.Attributes["driver.docker.os_type"])+"<br>";
            //strResult += "os.name : "+JSON.stringify(result.rData.Attributes["os.name"])+"<br>";

          } else if(api_flag=='trrfrmWorkspace'){
            // 워크스페이스
            $("#wksp_type").val(result.rData.data[0].type);
            $("#wksp_name").val(result.rData.data[0].attributes.name);
            $("#wksp_Organization_id").val(result.rData.data[0].relationships.organization.data.id);
            $("#wksp_Organization_type").val(result.rData.data[0].relationships.organization.data.type);
            $("#wksp_current_run_id").val(result.rData.data[0].relationships["current-run"].data.id);
            $("#wksp_current_run_type").val(result.rData.data[0].relationships["current-run"].data.type);
            $("#wksp_current_run_related").val(result.rData.data[0].relationships["current-run"].links.related);
            $("#wksp_latest_run_id").val(result.rData.data[0].relationships["latest-run"].data.id);
            $("#wksp_latest_run_type").val(result.rData.data[0].relationships["latest-run"].data.type);
            $("#wksp_latest_run_related").val(result.rData.data[0].relationships["latest-run"].links.related);

            if($("#divTrrfrmWkspcInfo").is(':visible')==true){
              $("#divTrrfrmWkspcInfo").hide();
            } else {
              $("#divTrrfrmWkspcInfo").show();
              //$("#divTrrfrmRun").hide();

              var offset = $("#divTrrfrmWkspcInfo").offset(); //해당 위치 반환
              $('html, body').animate({scrollTop: offset.top-100},400); // 선택한 위치로 이동. 두번째 인자는 0.4초를 의미한다.
            }
          }
          //document.querySelector("#showResult").innerHTML = strResult;
        }
      });
    }
  </script>
</html>
