<!-- views/home/vault.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <script>
  function validationCheck(){

    if($("#obj_addr").val()==""){
      alert("접속대상 IP를 입력해주세요.");
      $("#obj_addr").focus();
      return false;
    }
    if($("#role_id").val()==""){
      alert("역할 ID를 입력해주세요.");
      $("#role_id").focus();
      return false;
    }
    if($("#secret_id").val()==""){
      alert("시크릿 ID를 입력해주세요.");
      $("#secret_id").focus();
      return false;
    }
    return true;
  }

  function vaultAccess(){

    if(validationCheck()){
      var vaultRequestInfo = "";
      vaultRequestInfo += "접속대상:"+$("#obj_addr").val()+":8200\n";
      vaultRequestInfo += "역할 ID:"+$("#role_id").val()+"\n";
      vaultRequestInfo += "시크릿 ID:"+$("#secret_id").val()+"\n";
      alert("* Vault 접속요청 정보\n"+vaultRequestInfo);
    }
  }

  </script>
  <body>
    <!--<div class="container mb-3">
      <h2 class="mb-3">Vault</h2>
      <P>Vault의 API</p>
      <div>
        <table id="vTableAccessValue" border="1" class="table">
          <thead>
            <tr>
              <th>Vault 접속정보</th>
              <th>사용자 입력값</th>
              <th>설명</th>
          </thead>
          <tbody>
            <tr>
              <td>접속대상</td>
              <td><input type="text" id="obj_addr" name="obj_addr" size="20" style="width:100%;" /></td>
              <td>IP주소만입력(예:127.0.0.1)</td>
            </tr>
            <tr>
              <td>역할 ID</td>
              <td><input type="text" id="role_id" name="role_id" size="20" style="width:100%;" /></td>
              <td></td>
            </tr>
            <tr>
              <td>시크릿 ID</td>
              <td><input type="text" id="secret_id" name="secret_id" size="20" style="width:100%;" /></td>
              <td></td>
            </tr>
          </tbody>
        </table>

        <div>
          <li>Vault 접속정보</li>
          <input type="button" class="float-right" onclick="vaultAccess()" value="Vault 접속" />
        </div>
        <table id="vTableAccessInfo" border="1" class="table">
          <thead>
            <tr>
              <th>Key Name</th>
              <th>Key Value</th>
          </thead>
          <tbody>
            <tr>
              <td>Client_token</td>
              <td></td>
            </tr>
            <tr>
              <td>Token_policies</td>
              <td></td>
            </tr>
            <tr>
              <td>Lease_duration</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>-->
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.ejs -->
      <%- include('../partials/_sidebar') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.ejs -->
        <%- include('../partials/_navbar') %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Vault API </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">VAULT</a></li>
                  <li class="breadcrumb-item active" aria-current="page">API</li>
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Hoverable Table</h4>
                    </p>
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>User</th>
                            <th>Product</th>
                            <th>Sale</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Jacob</td>
                            <td>Photoshop</td>
                            <td class="text-danger"> 28.76% <i class="mdi mdi-arrow-down"></i></td>
                            <td><label class="badge badge-danger">Pending</label></td>
                          </tr>
                          <tr>
                            <td>Messsy</td>
                            <td>Flash</td>
                            <td class="text-danger"> 21.06% <i class="mdi mdi-arrow-down"></i></td>
                            <td><label class="badge badge-warning">In progress</label></td>
                          </tr>
                          <tr>
                            <td>John</td>
                            <td>Premier</td>
                            <td class="text-danger"> 35.00% <i class="mdi mdi-arrow-down"></i></td>
                            <td><label class="badge badge-info">Fixed</label></td>
                          </tr>
                          <tr>
                            <td>Peter</td>
                            <td>After effects</td>
                            <td class="text-success"> 82.00% <i class="mdi mdi-arrow-up"></i></td>
                            <td><label class="badge badge-success">Completed</label></td>
                          </tr>
                          <tr>
                            <td>Dave</td>
                            <td>53275535</td>
                            <td class="text-success"> 98.05% <i class="mdi mdi-arrow-up"></i></td>
                            <td><label class="badge badge-warning">In progress</label></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.ejs -->
          <%- include('../partials/_footer') %>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <%- include('../partials/commonJs') %>
  </body>
</html>
